/* タスク一覧ページ*/
#table-tasks td {
  vertical-align: middle !important;
}

.tasks-name {
  font-weight: bolder;
}

/*タスク新規作成ページ*/
.btn-task-create {
  margin-top: 10px;
}

/*タスク編集ページ*/
text_area.form-control{
  height: auto;
  resize: vertical !important;
}

.btn-task--edit {
  margin-top: 10px;
}