// 共通
text_area.form-control{
  height: auto;
  resize: vertical !important;
}


/*タスク一覧*/
#table-tasks th {
  vertical-align: middle;
}

#table-tasks td {
  vertical-align: middle;
}

// タスク詳細ページ
#table-task {
  table-layout: fixed;
  width: 100%;
}

#table-task th {
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
}

#table-task td {
  word-wrap: break-word;
}

// タスク編集ページ
.btn-form {
  margin-top: 10px;
}

// タスク新規作成ページ
.btn-task-create {
  margin-top: 10px;
}