/*利用者一覧ページ*/
#table-users th {
  vertical-align: middle;
}

#table-users td {
  vertical-align: middle;
}

.label-division {
  margin-left: 5px;
}

.label-primary {
  background-color: #337ab7;
}

/*ユーザー情報変更ページ*/
.btn-user--edit {
  margin-top: 10px;
}

/*ユーザー登録ページ*/
.btn-user--create {
  margin-top: 10px;
}